.git
.gitignore
.circleci
.vscode
**/node_modules
**/dist
test
logs

createSecondNode.js
genGenesisBlock.txt
jest.config.js
jest.tsconfig.json
launchAllNodes.js
purge-all-docker-containers
rebuild.sh
